.profile-pic {
    width: 200px;
    height: 200px;
    border: grey solid 1px;
    margin: 10px auto;
}

ion-card-title{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    
}

ion-card-content{
    font-size: 15px;
    text-align: justify;
}